@import './variables.scss';

:host {
  display: block;
}

mat-chip-list .price {
  position: absolute;
  right: 32px;
  top: #{$header-height + 49px};
}

main {
  margin: -48px auto 48px auto;
  background-color: white;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .14), 0 3px 1px -2px rgba(0, 0, 0, .2), 0 1px 5px 0 rgba(0, 0, 0, .12);
  position: relative;
}

mat-card mat-card-header div[mat-card-avatar] {
  background-image: url('assets/users/robert.jpg');
  background-size: cover;
}

mat-card mat-card-subtitle {
  display: flex;
  align-items: center;
  span {
    margin-left: 8px;
  }
}


.icon-item {
  color: #757575;
}
