@import './variables.scss';

:host {
  display: block;
}

.top-card {
  width: 100vw;
  height: 175px;
  background-color: lighten(map-get($colors, purple-light), 10%);
  line-height: 130px;
  letter-spacing: 10px;
  font-family: 'SlatePro';
  font-size: x-large;
  color: white;
  text-align: center;
  text-transform: uppercase;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .14), 0 3px 1px -2px rgba(0, 0, 0, .2), 0 1px 5px 0 rgba(0, 0, 0, .12);
}

.filters {
  $padding: 8px 16px;
  height: 50vh;
  position: sticky;
  top: 16px;
  background-color: whitesmoke;
  h1, h3 {
    margin: 0;
    padding: $padding;
  }
}

main {
  margin: -48px auto 48px auto;
  background-color: white;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .14), 0 3px 1px -2px rgba(0, 0, 0, .2), 0 1px 5px 0 rgba(0, 0, 0, .12);
}

mat-card {
  width: 250px;
  margin: 0px 8px 8px 8px;
  mat-card-title {
    white-space: nowrap;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  mat-card-content {
    font-family: Roboto Mono;
    font-size: 22px;
    text-align: right;
  }

  img[mat-card-image] {
    height: 250px;
    object-fit: contain;
  }
}

mat-chip-list .price {
  position: absolute;
  right: 32px;
  top: #{$header-height + 49px};
}
