@import "~@angular/material/prebuilt-themes/indigo-pink.css";

/* You can add global styles to this file, and also import other style files */
 @font-face {
    font-family: 'SlatePro';
    font-style: normal;
    src: url(https://css.s-hawaiianairlines.com/Content/assets/fonts/SlatePro/3354DA_1_0.woff2) format('woff2');
}

/* fallback */
@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url('./assets/font/material-icons.woff2') format('woff2');
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;
}

:root {
    --primary: rgba(238, 69, 61, 1);
    --secondary: rgba(197, 23, 136, 1);
    --purple-dark: rgba(90, 16, 93, 1);
    --purple-light: rgba(70, 60, 143, 1);
}

body {
    font-family: 'SlatePro', sans-serif;
    margin: 0;
    padding: 0;
}
